// Import your components CSS files here.
@import "alert";
@import "navbar";


table td, table th {
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: left;
  &:last-child {
    text-align: right;
  }
}