// Import your components CSS files here.
@import "alert";
@import "navbar";


table td, table th {
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: left;
  &:last-child {
    text-align: right;
  }
}

.button {
  display: flex;
  color: white;
  background-color: white;
  border-radius: 2px;
  box-shadow: #999999 0px 0px 5px 1px;
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  p {
    color: white !important;
  }
}

.center-button {
  width: 100vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}